icosfitd.tbl
icosfitd_conv.tmc
TMdbgtbl.tmc
TMdbgdisp.cc
TMdbgdispoui.c
TMdbgdispoui.o
TMdbgdisp.o
TMdbgtblnc.tmc
TMdbgdispnc.cc
TMdbgdispncoui.c
TMdbgdispncoui.o
TMdbgdispnc.o
doit.dep
TMdbgcmd.cc
TMdbgcmd.dat
TMdbgclt.o
TMdbgcltoui.c
TMdbgcltoui.o
TMdbgcltnc.o
TMdbgcltncoui.c
TMdbgcltncoui.o
TMdbgsrvr.o
TMdbgsrvroui.c
TMdbgsrvroui.o
TMdbgcol.cc
tm.dac
TMdbgcoloui.c
TMdbgcoloui.o
TMdbgcol.o
TMdbgengext.cdf
TMdbgengextcdf.oui
TMdbgengextcdf.tmc
TMdbgengext.cc
TMdbgengextoui.c
TMdbgengextoui.o
TMdbgengext.o
TMdbgtbl.tmc.dep
TMdbgtblnc.tmc.dep
*.err
Makefile
TMdbgdisp
TMdbgdispnc
doit
TMdbgclt
TMdbgcltnc
TMdbgsrvr
TMdbgcol
TMdbgengext
